
    <footer>
        <div class="container" id="contacto">
            <h1>Contacto</h1>
            <p>Email: contacto@aquanova.com</p>
            <p>Tel: 123456789</p>
        </div>
        <p>© 2026 Aqua Nova. Todos los derechos reservados.</p>
        <menu>
            <ul class="nav-links" id="nav-links">
                <li><a routerLink="../index.html"><img src="/assets/iconos/water-drop-white.png" alt="white-drop">Inicio</a></li>
                <li><a routerLink="./ventas.html"><img src="/assets/iconos/partner-heart.png" alt="partner-heart">Ventas</a></li>
                <li><a routerLink="./recursosHidricos.html"><img src="/assets/iconos/water-white.png" alt="water-icon">Recursos Hídricos</a></li>
                <li><a routerLink="/amenazas"><img src="/assets/iconos/warning-white.png" alt="warning-white">Amenazas</a></li>
                <li><a routerLink="./clima.html"><img src="/assets/iconos/weather-white.png" alt="weather-white">Clima</a></li>
                <li><a routerLink="./tomaAccion.html"><img src="/assets/iconos/action-white.png" alt="action-white">Toma Acción</a></li>
                <li><a routerLink="./correcciones.html"><img src="/assets/iconos/corrections-white.png" alt="corrections-white">Correcciones</a></li>
            </ul>
        </menu>
    </footer>

