<Section class="form">
    <section class="inputs">
    <div>
        <label for="nombre">Nombre</label>
        <input  id="nombre" type="text" placeholder="Ingrese el Nombre del producto">
    </div>
    <div>
        <label for="descripcion">Descripcion</label>
        <input  id="descripcion" type="text" placeholder="Ingrese la descripcion">
    </div>
    <div>
        <label for="precioVenta">Precio de venta</label>
        <input  id="precioVenta" type="number" placeholder="Ingrese el precio de venta">
    </div>
    <div>
        <label for="precioCompra">Precio de compra</label>
        <input  id="precioCompra" type="number" placeholder="Ingrese el precio de Compra">
    </div>
    <div>
        <label for="stock">Stock</label>
        <input  id="stock" type="number" placeholder="Ingrese el Stock">
    </div>
    <div>
        <label for="categoria">Categoria</label>
        <input  id="categoria" type="text" placeholder="Ingrese la Categoria">
    </div>
    </section>
    <button class="guardar" >Guardar</button>

</Section>
