<header>
        <button onclick="window.location.href='/'" class="index-btn">
            <div class="nombre-empresa" id="nombre-empresa" >
                <img src="./assets/iconos/water-drop-white.png" alt="white-drop">
                <h1>Aqua Nova</h1>
            </div>
        </button>
        <menu>
            <button class="hamburger" onclick="toggleMenu($event.target)">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-links" id="nav-links">
                <li><a routerLink="/"><img src="/assets/iconos/water-drop-white.png" alt="white-drop">Inicio</a></li>
                <li><a routerLink="/ventas"><img src="/assets/iconos/partner-heart.png" alt="partner-heart">Ventas</a></li>
                <li><a routerLink="/recursosHidricos"><img src="/assets/iconos/water-white.png" alt="water-icon">Recursos Hídricos</a></li>
                <li><a routerLink="/amenazas"><img src="/assets/iconos/warning-white.png" alt="warning-white">Amenazas</a></li>
                <li><a routerLink="/ingresarProductos"><img src="/assets/iconos/weather-white.png" alt="weather-white">Ingresar Productos</a></li>
                <li><a routerLink="/editarProductos"><img src="/assets/iconos/action-white.png" alt="action-white">Editar productos</a></li>
                <li><a routerLink="/borrarProductos"><img src="/assets/iconos/corrections-white.png" alt="corrections-white">Borrar Productos</a></li>
                <li><a routerLink="/signIn"><img src="/assets/iconos/corrections-white.png" alt="corrections-white">Sign In</a></li>
                <li><a routerLink="/user-edition-form"><img src="/assets/iconos/corrections-white.png" alt="corrections-white">Editar usuario</a></li>
                <li><a routerLink="/user-deletion-form"><img src="/assets/iconos/corrections-white.png" alt="corrections-white">Borrar Usuario</a></li>
            </ul>
        </menu>
    </header>
